.root {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.bounce {
  animation: bounce-delay 1.6s infinite ease-in-out both;
  border-radius: 8px;
  background-color: var(--color-primary);
  display: inline-block;
  height: 16px;
  width: 16px;
}

.bounce1 {
  animation-delay: -0.24s;
}

.bounce2 {
  animation-delay: -0.16s;
  margin: 0 8px;
}

@keyframes bounce-delay {
  0%,
  80%,
  100% {
    transform: translate(0, 12px);
  }

  40% {
    transform: translate(0, -12px);
  }
}
