@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-display: block;
}
