:root {
  /* Typography */
  --font-family: "Ubuntu", "Arial", "Helvetica", sans-serif;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #23272f;
  --color-primary: #0074a6;
  --color-primary-dark: #5468ff;
  --color-highlight: #149eca;
  --color-error: rgb(182, 87, 0, 0.4);

  /* Indexes */
  --z-index-negative: -1;
  --z-index-default: 0;
  --z-index-level1: 1;
  --z-index-overlay: 100;
}
