.title {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 16px 0;

  & .title-text {
    margin-left: 16px;
  }
}

.icon {
  color: var(--color-highlight);
  max-width: 100px;
}
